body {
    background-color: #d4d4d4; 
}

header {
    background-color: #28a745; 
}

#main1 {
    color: #343a40; 
}

.card-header {
    background-color: #0d6efd; 
}

.card-body {
    background-color: #d4edda; 
}

.btn-success {
    background-color: #28a745; 
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838; 
    border-color: #1e7e34;
}